*.bin
*.pt
*.pth
*.h5
*.pb
*.onnx
*.tflite
*.keras
*.model
*.weights
*.hdf5
*.pickle
*.pkl
**/old_train_data/
**/checkpoints_prod/
**/checkpoints/
**/nnue_env/
**/venv/
**/__pycache__/
public/older_bias/
.DS_Store
.vscode/
.idea/
*.log
*.tmp
*.temp
*.cache
*.o
*.exe
*.out
*.so
*.dylib
*.dll
__pycache__/
*.pyc
*.pyo
*.pyd
